

@{
    ViewData["Title"] = "Home Page";
   
}

<div class="text-center">
    <h1 class="display-4">Soy Brenda Dominguez</h1>
    <h2>Soy Desarrollador Frontend y estudiante del ITGAM </h2>
   
    <img  id="foto"
    src="~/img/profile.jpeg" alt="Foto de Brenda">
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/img/dotnet-imagen-2.png" alt="dotnet logo" >

</div>

<div class="row justify-content-center text-center bg-warning">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Actualmente curso el 9no semestre de la carrera de Ingeniería en 
            Tecnologías de la Información y Comunicaciones en el Instituto Tecnológico de 
            Gustavo a Madero, especificamente me gusta mucho el frontend y la creación de
            páginas web y aplicaciones web
        </p>
    </div>
</div>