#foto{
    width: 270px;
    height: 270px;
    margin: 2rem 0;
    border-radius: 50%;
}

.seccion-bienvenida{
    margin: 5rem 0 10rem 0 ;
    color: #fff;
}

.seccion-bienvenida h1{
    margin-bottom: 1rem;
    color: rgb(5, 5, 5);
}

.seccion-bienvenida p{
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 1.25rem;
    color: rgb(255, 255, 255);
}

#imagen-dotnet{
    width: 400px;
}